<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Set in order of preference. If doesn't exist, will skip. Ex: "720p,1080p,480p"-->
    <add key="QualityPreference" value="720p,WMV 720p,1080p" />
    <add key="DownloadFolder" value="\\NAS\Media\Movies\Trailers" />
    <!--Setting this to true will create a folder for each trailer off the DownloadFolder-->
    <add key="CreateFolder" value="true" />
    <!--Setting this to true will significantly increase the logging/output for debugging-->
    <add key="VerboseLogging" value="true" />
    <!--Do you want only today's trailers or all available in RSS Feed? Not working yet.-->
    <!--Options: All or Today-->
    <add key="AllorToday" value="Today" />
    <!--GrabPoster not working yet-->
    <add key="GrabPoster" value="true" />
  </appSettings>
</configuration>